# ====================
# Fichiers à ignorer
# ====================

# ================
# Ignore DS_Store
.DS_Store

# ========================
# Ignore les fichiers csv
*.csv
!data/example_input.csv

# ===================
# Ignore les init.py
__init__.py

# ===================
# Ignore les pycache
__pycache__
.pytest_cache

# =============
# Artefacts ML
models/*.pkl
models/*.joblib
models/*.bin
models_cache/

# ===============
# pkl tout court
*.pkl

# ========
# Secrets
.env
venv

# ============
# Les init.py
__init__.py

# ==========
# .coverage
.coverage*

# ===================================
# Ignore les notebook pour le moment
*.ipynb
!monitoring_evidentlyai.ipynb
monitoring

# ================================
# Ignore streamlit pour le moment
# ================================
streamlit
streamlit_test.py
dashboard_streamlit.py

# ===============
# Ignore app_old
# =============== 
app_old.py
old.prof

# =====================
# Ignore le ficher txt
# =====================
historique_commits.txt